<?php
$username = "ccc";
$password = "ccc";

// There are multiple datacenters for ExactTarget, this may be difference for your accont
// For more Info: http://help.exacttarget.com/en/documentation/exacttarget/resources/accessing_the_exacttarget_application/
$wsdl = "https://webservice.exacttarget.com/etframework.wsdl";
?>